Repository DevsQuarter/Food-Ordering-Responsive-Design, pull requests merged in 2025-01, with the labels that each got.

#42 Refactor menu partial to include title and navigation structure
  src/partials/menu.html
Labels: html

#43 Project Preparation and Inception
  index.html
Labels: html, css

#44 Project Starter
  index.html
  src/css/main.css
Labels: html, css, js, Image, README

#48 Revamp header structure and styling consistency
  src/css/header.css
  src/partials/header.html
Labels: html, css, design, Image

#56 Update menu button labels and item titles for consistency
  src/partials/menu.html
Labels: html
